<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Showcases?') }}
  </h2>
  <div class="module-content">
    <p>Open data can be used to power apps and services or enable research.</p>
    <p>We have collected together examples of how our open data is used here to give you insight, ideas and inspiration.</p>
    {% if h.check_access('ckanext_showcase_admin_add') %}
      <p>
        {% trans url=h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='manage_showcase_admins') %}Sysadmins can manage Showcase Admins from the <a href='{{ url }}'>Showcase configuration page</a>.{% endtrans %}
      </p>
    {% endif %}
  </div>
</div>
